!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", http: {equiv: "X-UA-Compatible"}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title 
      = current_page.data.title || "Flying Man Brewery Co."
    = stylesheet_link_tag :application
    = javascript_include_tag :all
    
    = yield_content :assets

  %body{class: page_classes}
    %nav
      %span
        Flying Man
        %br
        Brewing Company
      %ul 
        %li BEER
        %li EVENTS
        %li NEWS
        %li About
        %li Shop
        %li Contact
    = yield